<!-- templates/change_password.html -->
{% extends "base.html" %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ employee.name }}のパスワード変更</h1>
        <!-- フラッシュメッセージ表示 -->
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        
        <form method="POST">
            <div class="form-group">
                <label for="new_password">新しいパスワード</label>
                <input type="password" id="new_password" name="new_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">新しいパスワードの確認</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label><input type="checkbox" id="show_password" onclick="togglePasswordVisibility()"> パスワードを表示</label>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary">変更</button>
            </div>
        </form>
        <div class="button-group">
            <a class="btn btn-secondary" href="{{ url_for('view_employee') }}">社員情報一覧に戻る</a>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            const newPasswordInput = document.getElementById('new_password');
            const confirmPasswordInput = document.getElementById('confirm_password');
            const isChecked = document.getElementById('show_password').checked;

            newPasswordInput.type = isChecked ? 'text' : 'password';
            confirmPasswordInput.type = isChecked ? 'text' : 'password';
        }
    </script>
{% endblock %}
